/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Alata", "Arial", sans-serif;
  font-size: 15px;
  line-height: 167%;
  background-color: #fff;
  color: #222;
}

/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER */
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-image: url("../img/man-in-car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.site-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 0;
}

.site-logo {
  display: flex;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.sitenav {
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.sitenav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link {
  display: block;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s ease;
}

.sitenav-link:hover {
  border-color: #979797;
}

.sitenav-link:active {
  opacity: 0.6;
}

.site-header-content {
  max-width: 650px;
  padding-top: 130px;
  padding-bottom: 146px;

}

.site-header-heading {
  margin-top: 0;
  margin-bottom: 0;
  padding: 38px;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 97%;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
}


/* MAIN-CONTENT */
.main-content {
  padding-top: 160px;
  padding-bottom: 184px;
  background-color: #fff;
}
.main-content-top {
  display: flex;
  align-items: flex-end;
}

.main-content-top-img {
  width: 731px;
  height: 500px;
  background-image: url("../img/man-wearing-vr.jpg");
}

.main-content-top-info {
  width: 541px;
  height: auto;
  margin-left: -155px;
  background-color: #fff;
}

.main-content-top-report {
  margin: 96px 0 0 96px;
}

.main-content-top-heading, .main-content-gallery-heading {
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #000;
}
.main-content-top-text {
  font-style: normal;
  color: #000;
  margin-top: 25px;
  margin-bottom: 0;
  opacity: 0.5;
}
.main-content-gallery {
  margin-top: 0;
  margin-bottom: 0;
}

.main-content-gallery-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 184px;
  margin-bottom: 0;
}

.main-content-gallery-button {
  display: inline-block;
  padding: 12px 42px 12px 37px;
  border: 1px solid #000;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  background-color: #fff;
  color:#000;
  text-decoration: none;
  transition: background-color 0.4s ease,
  color 0.4s ease;
}

.main-content-gallery-button:hover {
  background-color: #000;
  color: #fff;
}

.main-content-gallery-imgs {
  padding-top: 80px;
}

.main-content-gallery-img {
  display: inline-block;
  width: 256px;
  height: 450px;
  background-image: url("../img/deep_earth.jpg");
}

.main-content-gallery-img:hover {
  opacity: 0.75071;
  cursor: pointer;
 }

.main-content-gallery-inform {
  color: #fff;
  margin: 0;
  width: 106px;
  padding-left: 40px;
  padding-top: 354px;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 300;
  text-transform: uppercase;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: #000;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer-item {
  display: flex;
  transition: border-color 0.4s ease;
  border-bottom: 2px solid transparent;
}

.site-footer-item:hover {
  border-color: #979797;
}

.site-footer-item:active {
  opacity: 0.6;
}

.site-footer-item:not(:last-child) {
  margin-right: 16px;
}

.site-footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.site-footer-text {
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
}


/* RETINA BACKGROUND */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .site-header {
    background-image: url("../img/man-in-car@2x.jpg");
  }

  .main-content-top-img {
    background-image: url("../img/man-wearing-vr@2x.jpg");
  }
}